<!DOCTYPE html>
	<html>
	{% include analytics.html %}
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/syntax.css" rel="stylesheet">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/lab">The Lab</a></li>
	        		<li><a href="/labnews">Lab News</a></li>
	        		<li><a href="/blog">R Notes</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:chris.chizinski@gmail.com">email</a></li>
        			<li><a href="https://github.com/chrischizinski">github.com/chrischizinski</a></li>
				</ul>
			</footer>
		</body>
	</html>